.editorconfig
.DS_Store
.git

# NGINX Config
lemp/nginx/config/.github
lemp/nginx/config/.gitattributes
lemp/nginx/config/.gitignore
lemp/nginx/config/LICENSE.txt
lemp/nginx/config/conf.d/.default-*.conf
